{{ form_start(form) }}

    {# Affichage global des erreurs du formulaire #}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.message) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre réponse ici'}}) }}
        {{ form_errors(form.message) }} {# Affichage des erreurs du message #}
    </div>

    <div class="form-group">
        {{ form_label(form.date_reponse) }}
        {{ form_widget(form.date_reponse, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.date_reponse) }} {# Affichage des erreurs de la date #}
    </div>

    <div class="form-group">
        {{ form_label(form.reclamation) }}
        {{ form_widget(form.reclamation, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.reclamation) }} {# Affichage des erreurs de la réclamation #}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
